<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.boksun.mapper.BoardMapper">
    
    <select id="boardList" resultType="kr.boksun.mapper.BoardVO">
        select * from board
    </select>
    
    <insert id="boardInsert" parameterType="kr.boksun.mapper.BoardVO">
        insert into board (title, contents, writer)
        values(#{title}, #{contents}, #{writer})
    </insert>
    
    <select id="boardContents" parameterType="int" resultType="kr.boksun.mapper.BoardVO">
        select * from board where idx = #{idx}
    </select>
    
    <update id="boardUpdate" parameterType="kr.boksun.mapper.BoardVO">
        update board set title=#{title}, contents=#{contents} where idx = #{idx}
    </update>
    
    <delete id="boardDelete" parameterType="int">
        delete from board where idx = #{idx}
    </delete>
    
    <update id="count" parameterType="int">
        update board set count=count+1 where idx = #{idx}
    </update>
</mapper>