<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.boksun.mapper.MedicineMapper">
    
	<!-- 장애인이 직접 등록 -->
    <update id="mediBoxUpdate" parameterType="kr.boksun.mapper.MedicineVO">
        update t_medicine 
        set med_name=#{med_name}, med_alarm=#{med_alarm}
		where user_id=#{user_id} and med_box=#{med_box}
    </update>
    
    
	<!-- <update id="mediBoxUpdateW" parameterType="kr.boksun.mapper.MedicineVO">
	    update t_medicine 
	    set med_name=#{med_name}, med_hosp=#{med_hosp}, med_way=#{med_way}, med_times=#{med_times}, 
	    	med_date=#{med_date}, med_alarm=#{med_alarm}, med_memo=#{med_memo}
		where user_id=#{user_id} and med_box=#{med_box}
    </update>  -->
    
	
    
    
    
</mapper>