<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.boksun.mapper.UserMapper">
    
    <select id="idCheckUser" parameterType="String" resultType="kr.boksun.mapper.UserVO">
	    select * from t_user where user_id = #{user_id}
	</select>
    
    <insert id="joinUserInsert" parameterType="kr.boksun.mapper.UserVO">
        <choose>
            <when test="worker_id != null"> <!-- 복지사가 장애인 등록 -->
                insert into t_user
       			values(#{user_id}, #{user_name}, #{user_birthdate}, #{user_gender}, sysdate, #{user_addr}, #{user_phone}, #{worker_id}, #{user_empn}, #{user_access}, #{user_disease})
            </when>
            <when test="worker_id == null"> <!-- 장애인이 직접 회원가입  -->
                insert into t_user(user_id, user_name, user_empn) 
       			values(#{user_id}, #{user_name}, #{user_empn})
            </when>
        </choose>
    </insert>
    
    <select id="loginUserSelect" parameterType="kr.boksun.mapper.UserVO" resultType="kr.boksun.mapper.UserVO">
        select * from t_user where user_id = #{user_id}
    </select>
    
    <select id="userList" parameterType="String" resultType="kr.boksun.mapper.UserVO">
        select * from t_user where worker_id = #{worker_id}
    </select>
    
    <!-- 장애인 목록에서 장애인 선택 -->
    <select id="userChoice" parameterType="String" resultType="kr.boksun.mapper.UserVO">
        select * from t_user where user_id = #{user_id}
    </select>
    
    
</mapper>